<h1>Sign Up</h1>
<form action="<%= users_url %>" method="POST">
  <label>UserName:
  <input type="text" name="users[user_name]"/> </label>
  <label>Password:
  <input type="password" name="users[password]"/> </label>

  <input type="submit" value="Sign Up">

</form>